---
layout: default
title: Politicas
---

<section>
  <div class="blog-container">
    <h2>Politica</h2>
    {% for post in site.posts %}
      {% if post.type == "politica" %}
        <div class="blog-unit">
          <h1><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h1>
          <span class="blog-date">{{ post.excerpt }}</span>
        </div>
      {% endif %}
    {% endfor %}

    <h2>Normas</h2>
    {% for post in site.posts %}
      {% if post.type == "norma" %}
        <div class="blog-unit">
          <h1><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h1>
          <span class="blog-date">{{ post.excerpt }}</span>
        </div>
      {% endif %}
    {% endfor %}
    
    <h2>Procedimentos</h2>
    {% for post in site.posts %}
      {% if post.type == "procedimento" %}
        <h2>Procedimentos</h2>
        <div class="blog-unit">
          <h1><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h1>
          <span class="blog-date">{{ post.excerpt }}</span>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
